footer{
    background-color: whitesmoke;
}
footer h3, .copy{
    font-size: 18px;
    color: rgb(45, 45, 169);
    text-align: center;
}
.redesSociales {
    display: flex;
    color: rgb(24, 2, 2);
    flex-direction: column;
    text-align: center;
    justify-content: center;

}


