

/* --------------Home------------------------------  */
.mainHome {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section {
    width: 100%;
    height: 100%;
}
a {
    margin: 30px;
}
.volverNav {
    color: whitesmoke; 
    margin: 20px;
    padding: 20px;
}

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

/* SECCION PRINCIPAL */
.seccionPrincipal h1 {
    grid-area: h1;
}
.seccionPrincipal h1 {
    color: whitesmoke;
    font-size: 20px;
    
}

.seccionPrincipal_img {
    grid-area: img;
}

.seccionPrincipal_img img {
    width: 100%;
    @extend .imgP;
    
   
}
.seccionPrincipal_parrafo {
    grid-area: parrafo;
    
}

.seccionPrincipal_parrafo {
    color: whitesmoke;
    width: 100%;
}

.seccionPrincipal {
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
        'h1'
        'img'
        'parrafo' ;
    justify-items: center;
}

/* Segunda Seccion */

.segundaSeccion h2 {
    font-size: 20px;
    color: whitesmoke;
    grid-area: h2;
    position: relative;
    top: 10px;
   
}

.segundaSeccion_img {
    grid-area: img;
}

.segundaSeccion_img img {
    width: 95%;
    border-radius: 2em;
   
}

.segundaSeccion_parrafo {
    grid-area: parrafo;
}

.segundaSeccion_parrafo p {
    color: whitesmoke;
}

.segundaSeccion {
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
        'h2'
        'img'
        'parrafo';
    justify-items: center;
}

/* TerceraSeccion */

.terceraSeccion h2 {
    font-size: 20px;
    color: whitesmoke;
    grid-area: h2;
    position: relative;
    top: 30px;
}

.terceraSeccion_img {
    grid-area: img;
}

.terceraSeccion_img img {
    width: 95%;
    border-radius: 2em;
   
}

.terceraSeccion_parrafo {
    grid-area: parrafo;
}

.terceraSeccion_parrafo p {
    color: whitesmoke;
}

.terceraSeccion {
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
        'h2'
        'img'
        'parrafo';
    justify-items: center;
}


/* Cuarta Seccion */

.cuartaSeccion h2 {
    font-size: 20px;
    color: whitesmoke;
    grid-area: h2;
    position: relative;
    top: 30px;
}

.cuartaSeccion_img {
    grid-area: img;
}

.cuartaSeccion_img img {
    width: 95%;
    border-radius: 2em;
   
}

.cuartaSeccion_parrafo {
    grid-area: parrafo;
}

.cuartaSeccion_parrafo p {
    color: whitesmoke;
}

.cuartaSeccion {
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
        'h2'
        'img'
        'parrafo';
    justify-items: center;
}

/* --------------Productos------------------------------  */
.mainProductos {
    height: 100%;
    justify-content: center;
    max-width: 100%;
    
}

section {
    width: 100%;
    height: 100%;
}

div {
    width: 100%;
    height: 100%;
}

/* SECCION PRINCIPAL */
.contenedorPrincipal h1 {
    color: whitesmoke;
    text-align: center;
    font-family: $family;
    font-size: 30px;
    margin: 20px;

}

.contenedorPrincipal img {
    width: 100%;
    @extend .imgP;
}

.contenedorPrincipal h2 {
    color: whitesmoke;
    text-align: center;
    font-family: $family;
    font-size: 25px;
    margin: 20px;

}

/* --------------Nosotros------------------------------  */
.container-nosotros{
    color: whitesmoke;
   
}  
.col .nos_titulo{
    margin: 20px;
    font-family: $family;
    font-size: 30px;
    text-align: start;
    width: 100%;
}
.col .nos_p{
    padding: 20px;
    font-family: $family;
    font-size: 18px;
    text-align: justify;
    

}
.col .nos_img img{
    max-width: 100%;
    margin: 10px;
    @extend .imgBorder;
    @include sizes(600px, 400px);
    justify-items: center;

}

/* --------------Contacto------------------------------  */
.containerForm{
    display: flex;
    justify-content: center;
    max-width: 100%;
  
  
}

.form{
    color: whitesmoke;
    font-size: $size;
    font-family: $family;
    text-align: center;

 h1{
    margin: 30px;
    color: whitesmoke;
    font-size: $size;
    font-family: $family;
}
}
.enviar{
    background: rgb(159,195,235);
}
.menu {
    margin-top: 32px;
}

/* --------------Mercado------------------------------  */
.container{
    max-width: 100%;
  
}
.titulo{
    color: whitesmoke;
    max-width: 100%;
}
.par{
    color: whitesmoke;
    max-width: 100%;
}
