@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;400&family=Rubik:wght@300&display=swap");
header {
  background-color: whitesmoke;
} /* --------------Home------------------------------  */
.mainHome {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
}

a {
  margin: 30px;
}

.volverNav {
  color: whitesmoke;
  margin: 20px;
  padding: 20px;
}

/* SECCION PRINCIPAL */
.seccionPrincipal h1 {
  color: whitesmoke;
  grid-area: h1;
  font-size: 25px;
}

.seccionPrincipal_img {
  grid-area: img;
}

.seccionPrincipal_img img {
  width: 100%;
}

.seccionPrincipal_parrafo {
  grid-area: parrafo;
}

.seccionPrincipal_parrafo p {
  color: whitesmoke;
}

.seccionPrincipal {
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "h1" "img" "parrafo";
  justify-items: center;
}

/* Segunda Seccion */
.segundaSeccion h2 {
  font-size: 25px;
  color: whitesmoke;
  grid-area: h2;
  position: relative;
  top: 10px;
}

.segundaSeccion_img {
  grid-area: img;
}

.segundaSeccion_img img {
  width: 100%;
  border-radius: 2em;
  box-shadow: 15px 5px 5px 5px #000;
}

.segundaSeccion_parrafo {
  grid-area: parrafo;
}

.segundaSeccion_parrafo p {
  color: whitesmoke;
}

.segundaSeccion {
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "h2" "img" "parrafo";
  justify-items: center;
}

/* TerceraSeccion */
.terceraSeccion h2 {
  font-size: 25px;
  color: whitesmoke;
  grid-area: h2;
  position: relative;
  top: 30px;
}

.terceraSeccion_img {
  grid-area: img;
}

.terceraSeccion_img img {
  width: 100%;
  border-radius: 2em;
  box-shadow: 15px 5px 5px 5px #000;
}

.terceraSeccion_parrafo {
  grid-area: parrafo;
}

.terceraSeccion_parrafo p {
  color: whitesmoke;
}

.terceraSeccion {
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "h2" "img" "parrafo";
  justify-items: center;
}

/* Cuarta Seccion */
.cuartaSeccion h2 {
  font-size: 25px;
  color: whitesmoke;
  grid-area: h2;
  position: relative;
  top: 30px;
}

.cuartaSeccion_img {
  grid-area: img;
}

.cuartaSeccion_img img {
  width: 100%;
  border-radius: 2em;
  box-shadow: 15px 5px 5px 5px #000;
}

.cuartaSeccion_parrafo {
  grid-area: parrafo;
}

.cuartaSeccion_parrafo p {
  color: whitesmoke;
}

.cuartaSeccion {
  margin: 1rem 0rem;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "h2" "img" "parrafo";
  justify-items: center;
}

/* --------------Productos------------------------------  */
.mainProductos {
  width: 100%;
  height: 100%;
  max-width: 95%;
}

section {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

/* SECCION PRINCIPAL */
.contenedorPrincipal h1 {
  color: whitesmoke;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 20px;
}

.contenedorPrincipal img {
  width: 100%;
}

.contenedorPrincipal h2 {
  color: whitesmoke;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 20px;
}

/* --------------Nosotros------------------------------  */
.container-nosotros {
  color: whitesmoke;
}

.col .nos_titulo {
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: start;
  width: 100%;
}

.col .nos_p {
  margin-top: 100px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.col .nos_img img {
  max-width: 75%;
  margin: 50px;
  height: 400px;
  width: 500px;
  justify-items: center;
}

/* --------------Contacto------------------------------  */
.containerForm {
  margin: 20px;
  padding: 20px;
}

.form {
  color: whitesmoke;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.form h1 {
  margin: 30px;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.enviar {
  background: rgb(159, 195, 235);
}

.menu {
  margin-top: 32px;
}

/* --------------Mercado------------------------------  */
.container {
  margin: 30px;
  max-width: 100%;
}

.titulo {
  color: whitesmoke;
}

.par {
  color: whitesmoke;
}

footer {
  background-color: whitesmoke;
}

footer h3, .copy {
  font-size: 18px;
  color: rgb(45, 45, 169);
  text-align: center;
}

.redesSociales {
  display: flex;
  color: rgb(24, 2, 2);
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------Mobile First------------------------------  */
body {
  background: linear-gradient(#000, #9198e5);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;
  justify-content: center;
}

.sombra {
  text-shadow: 20px 15px 7px #000;
}

.imgBorder, .col .nos_img img {
  border-radius: 50%;
}

.imgP, .seccionPrincipal_img img, .contenedorPrincipal img {
  border-radius: 2em;
}

/* ====================================================================================Tablet ============================================================================================*/
@media screen and (min-width: 600px) {
  .flex-container {
    justify-content: center;
  }
  .flex-container-nav {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  li {
    list-style: none;
  }
  .redesSociales {
    display: flex;
    color: rgb(24, 2, 2);
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .redes {
    margin: 30px;
  }
  /*============================= contacto ==================== */
  .containerForm {
    max-width: 80%;
    margin: auto;
  }
}
/* Dekstop */
@media screen and (min-width: 1024px) {
  /* Segunda seccion */
  .segundaSeccion {
    margin: 1rem 0 3rem 0;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    gap: 2rem;
    grid-template-areas: "img   h2    " "img  parrafo";
    justify-items: center;
  }
  .segundaSeccion_img {
    width: 700px;
    height: 400px;
  }
  .segundaSeccion_parrafo {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
  /* Tercera seccion */
  .terceraSeccion {
    margin: 1rem 0rem 3rem 0;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    gap: 2rem;
    grid-template-areas: "h2   img" "parrafo  img";
    justify-items: center;
  }
  .terceraSeccion_img {
    width: 700px;
    height: 400px;
  }
  .terceraSeccion_parrafo {
    display: flex;
    align-items: center;
    text-align: center;
  }
  /* Cuarta seccion */
  .cuartaSeccion {
    margin: 1rem 0rem 3rem 0;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    gap: 2rem;
    grid-template-areas: "img   h2" "img  parrafo";
    justify-items: center;
  }
  .cuartaSeccion_img {
    width: 700px;
    height: 400px;
  }
  .cuartaSeccion_parrafo {
    display: flex;
    align-items: center;
    text-align: center;
  }
  /*============================= contacto ==================== */
  .containerForm {
    max-width: 50%;
    margin: auto;
  }
}/*# sourceMappingURL=estilos.css.map */